<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    />
    <!-- fontwesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
    <!-- googlefont -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Lato:900" rel="stylesheet">
    <!-- custom style -->
    <link rel="stylesheet" href="/css/homepage.css" />

    <title>Mandar Education Society</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="cover">
        <div class="centered">
            <h1 class="name">
                Mandar Education Society
              </h1>
              <p class="intropara"> Established In 1983 || 33 Years Of Curriculum</p>
        </div>
        
          <nav class="navbar navbar-expand-lg sticky-top">
              <a class="navbar-brand logo" href="#"><img class="img-fluid" src="/images/original (2).png" width="75" height="75" alt=""></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <i class="fas fa-bars"></i>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <!-- about mandar -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About mandar
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Chairman</a>
                        <a class="dropdown-item" href="#">Management Commitee</a>
                        <a class="dropdown-item" href="#">Principal</a>
                    </li>

                    <!-- Institute -->

                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Institute
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Engineering</a>
                        <a class="dropdown-item" href="#">Polytechnic</a>
                        <a class="dropdown-item" href="#">Pharmacy</a>
                        <a class="dropdown-item" href="#">Management</a>
                        <a class="dropdown-item" href="#">Senior College</a>
                        <a class="dropdown-item" href="#">B.Ed</a>
                        <a class="dropdown-item" href="#">Junior College</a>
                        <a class="dropdown-item" href="#">English College</a>
                        <a class="dropdown-item" href="#">English Medium School</a>
                   
                  </li>

                   <!-- Facilities -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Facilities
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Hostel</a>
                        <a class="dropdown-item" href="#">Library</a>
                        <a class="dropdown-item" href="#">Other Facilities</a>
                        
                    </li>

                    <!-- Admission -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Admission
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Engineering</a>
                          <a class="dropdown-item" href="#">Polytechnic</a>
                          <a class="dropdown-item" href="#">Pharmacy</a>
                          <a class="dropdown-item" href="#">Management</a>
                          <a class="dropdown-item" href="#">Senior College</a>
                          <a class="dropdown-item" href="#">B.Ed</a>
                          <a class="dropdown-item" href="#">Junior College</a>
                          <a class="dropdown-item" href="#">English College</a>
                          <a class="dropdown-item" href="#">English Medium School</a>
                          <a class="dropdown-item" href="#">Admission Staff</a>
                          
                      </li>
                      <!-- Student Section -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Student Section
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Results</a>
                            <a class="dropdown-item" href="#">Latest Event</a>
                            <a class="dropdown-item" href="#">Sports</a>
                            
                        </li>

                        <!-- contact -->
                        <li class="nav-item my-2 my-lg-0 dropdown ">
                            <a class="nav-link" href="#">Contact</a>
                          </li>
                      
                </ul>
                
              </div>
            </nav>     
      </div>  
      
      <div class="row mycarousel size justify-content-around d-flex" style="background-color: #f2f2f2">
          <div class="col-lg-5 col-md-12 col-sm-12 col-12 slidercont">
            <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src=" /images/slide1.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>First slide label</h5>
                                <p>
                                    Nulla vitae elit libero, a pharetra augue mollis interdum.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src=" /images/slide2.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src=" /images/slide3.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Third slide label</h5>
                                <p>
                                    Praesent commodo cursus magna, vel scelerisque nisl
                                    consectetur.
                                </p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src=" /images/slide4.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src=" /images/slide5.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src=" /images/slide6.jpg" class="d-block w-100" alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Second slide label</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 col-12 introcont">
              <div class="intro">
                  <h4 class="text-center greet">Welcome To</h4>
                  <h1 class="heading">MANDAR EDUCATION SOCIETY</h1>
                  <p class="para">
                    Konkan is a most picturesque yet most backward
                    region of coastal Maharashtra.The youth of
                    Konkan region was deprived of technical
                    education for years. It was Mr. Rajaram Shinde's
                    concern and vision to enable this youth with some
                    kind of technical education.He bravely ventured and
                    started an institute in 1983,which is today catering
                    to about 2500 students,giving technical education.
                    Mandar Education Society campus includes the
                    institutes of Management,Engineering, Polytechnic,
                    B.Ed,Pharmacy and many more.The MES Institute
                    always leading towards the Technology.
                  </p>
              </div>
          </div>
        
      </div> 

      <!-- notification center -->
      <div class="row  d-flex" >
        
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  " style=" background-color: #1da7da; padding: 0; margin: 0; width: 100%; height: auto;">
            <h5 class="text-center notification-heading">MES Notification Center</h5>
            <div class="list-group center" style="overflow-y:scroll;" >
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Results</h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">The students are here by informed that their May-June 2017 following Semester results has being declared , SEM VIII(CBGS) Computer Engineering, SEM VIII(CBGS) Electrical Engineering, SEM VIII(CBGS) Electronics Engineering.</p>
                  <small>Principal.</small>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Results</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1"> The students are here by informed that their May-June 2017 following Semester results has being declared , Sem-I(Old), Sem-I(CBGS), Sem-I(Choice based) and Electronics Sem-VII(rev) (May 2017).</p>
                  <small class="text-muted">Principal.</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Photocopy</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">The Engineering students are here by informed to download the Photocopy form, CLICK HERE </p>
                  <small class="text-muted">Principal.</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Revolution Form</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">The Engineering students are here by informed to download the Revaluation form</p>
                    <small class="text-muted">Principal.</small>
                  </a>

                  <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">RLE Form</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">The Engineering students are here by informed to download the RLE form </p>
                      <small class="text-muted">Principal.</small>
                    </a>
              </div>
          
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12" style=" background-color: #ef6c57; padding: 0; margin: 0; width: 100%; height: auto;">
            <h5 class="text-center notification-heading">University/DTE/AICTE/MSBTE Notification Center</h5>
            <div class="list-group center" style="overflow-y: scroll;">
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">AICTE Notification</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">AICTE Notification Note :This is to inform all the faculty, staff and students that the feedback facility of students and faculty available in the AICTE Web Portal- www.aicte-india.org  </p>
                    <small class="text-muted">Principal.</small>
                  </a>
  
                  <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">LOA 2003-04 for MBA college</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">LOA 2003-04 for MBA college </p>
                      <small class="text-muted">Principal.</small>
                    </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">EOA 2018-19 of MBA college 
                      </h5>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">EOA 2018-19 of MBA college 
                    </p>
                  <small>Principal</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pharmacy</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">LOA 1993-94 for Pharmacy(Diploma) college </p>
                  <small class="text-muted">Principal</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Pharmacy</h5>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1"> EOA 2018-19 of Pharmacy(Diploma) college </p>
                  <small class="text-muted">Principal</small>
                </a>
              </div>
        </div>
      </div>

      <div class="row location" style="background-color: #fffdf6; height: auto;">
         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <h3 class="text-center" >HOW TO GET THERE</h3>
         </div>
        <div class="col-lg-6 col-md-6 col-sm-10 col-12 howtoreach">
          <h5><mark>From Mumbai</mark></h5>
          <p style="color:#707070">Mumbai-Chiplun distance is 265 km.             
              By Private Transport, travel time is 6 hours
              By State Transport Bus, travel time is 7 hours
              Mumbai-Chiplun State Transport buses leave from 
              Mumbai Central, Parel, as well as Thane, Dombivali,
              Kalyan, Borivali, Vasai, Virar.
              Besides, all State Transport buses to Konkan, pass through Chiplun</p>
              <h5><mark>From Pune</mark></h5>
              <p style="color: #707070">Pune-Chiplun distance is 220 km.                 
                  By Private Transport, travel time is 4 hours
                  By State Transport Bus, travel time is 5 hours 
                  Pune-Chiplun State Transport buses are available.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10 col-12">
          <div class="mapcont">
            <img  src="/images/map.png" alt="">
          </div>
        </div>
      </div>
      <div class="row d-flex footer" style="background-color:#666">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="height: 100px;">
            <h2 class="text-left">CONTACTS</h2>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
          <li>
            <h5>Mumbai Office</h5>
            <p>B/91-93, 9th Floor,       
                Paschim Apartments,       
                Opp. Kirti College,       
                Kashinath Dhuru Road,       
                Dadar (West),       
                Mumbai 400 028 <br>    
                <span>Phone No: 022-24229213</span></p>
          </li>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
            <li>
              <h5>Local Office</h5>
              <p>At Pedhambe,Post. Alore Tal - Chiplun,Dist - Ratnagiri 415 603<br>
                <span>Tel/Fax-(02355) 229000</span> <br>
                <span>(02355) 230004 (Main Office)</span> <br>             
                <span>(02355) 230005 (Main Office)</span> 
            </li>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
              <li>
                <h5>Degree Engineering College</h5>
                <p>
                  <span>(02355) 230007/8 </span> <br>
                   <span>Principal: 9604112477</span> <br>
                    <span>Bandekar P: 8600398766</span><br>
                    <span>Chavan A.: 9503800952</span><br>
                    <span>Gaikwad D K: 7798063950</span> <br>
                    <span>Mahajan A.H: 9763953978</span></p>
              </li>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                <li>
                  <h5>Polytechnic Diploma College</h5>
                  <p>
                    <span>(02355) 230003</span> <br>
                      <span>Principal Nalwade R.B: 9421027539</span></p>
                </li>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                  <li>
                    <h5>D Pharmacy College</h5>
                    <p>
                      <span>(02355) 230009</span> <br>
                        <span>Principal: Rangate C S-9822162701</span> <br>
                        <span>Kumbhar Sir:9822152461</span></p>
                  </li>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                    <li>
                      <h5>B Ed College</h5>
                      <p>
                        <span>(02355) 230011</span>   <br>          
                          <span>Tapkire Sir: 9270058369</span></p>
                    </li>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                      <li>
                        <h5>MBA College</h5>
                        <p>
                          <span>(02355) 230243</span>
                         </p>
                      </li>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                        <li>
                          <h5>Sr College Arts/Com/Science</h5>
                          <p>
                            <span>(02355) 230414</span> <br>
                            <span>Tapkire Sir: 9270058369</span></p>
                        </li>
                      </div>
                   
                      <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="height: 100px; padding-top: 30px;">
                          <h2 class="text-left">EMAIL</h2>
                      </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                            <li><p>Society<span><br>
                                  mandareducationsociety@gmail.com</span></p>
                            </div></li>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                <li><p>MBA <br> <span>  mesmandarmba@gmail.com </span></p></li>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                    <li><p>Engineering <br> <span> rscoedegree@gmail.com </span></p></li>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                        <li><p>Polytechnic <br> <span> mandar.rsiet@gmail.com</span></p></li>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                            <li><p>Pharmacy <br> <span>  csrangate@gmail.com </span></p></li>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                <li><p>Pharmacy <br> <span>  ssscopharmacy@gmail.com </span></p></li>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                    <li><p>Senior College <br> <span> soushailajashindeseniorcollege@gmail.com</span></p></li>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                        <li><p>Junior College <br> <span> mesmcvcjuniorcollege@gmail.com</span></p></li>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                            <li><p>B.Ed College <br> <span>  mesbed12@gmail.com </span></p></li>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                                <li><p>English Medium <br> <span>  @gmail.com </span></p></li>
                                                                </div>
                      </div>
      </div>
    </div>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
