<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <!-- fontwesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
    />
    <!-- Animate.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- googlefont -->
    <link href="https://fonts.googleapis.com/css?family=Francois+One|Lato:900|Nunito" rel="stylesheet">
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/principal.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/department.css">
    <title>Industrial Electronics & Telecommunication</title>
  </head>
  <body>
    
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light bg-light" id="navbar-example2">
            <a class="navbar-brand logo" href="#"><img class="img-fluid" src="/images/original (2).png" width="75" height="75" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <!-- <span class="navbar-toggler-icon"></span> -->
              <i class="fas fa-bars"></i>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- about mandar -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/chairman">Chairman</a>
                      <a class="dropdown-item" href="/management">Management Commitee</a>
                      <a class="dropdown-item" href="/principal">Principal</a>
                  </li>
    
                  <!-- Institute -->
                  
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Institute
                  </a>
                  
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      
                      
                          <a class="dropdown-item" id="show_hide">Engineering <span id="sign" style="float: right; font-size: 16px;">+</span></a>
                          <div id="sub-dropdown">
                          <a  href="/engineering/computer">Computer</a>
                          <a  href="/engineering/mechanical">Mechanical</a>
                          <a  href="/engineering/electrical">Electrical</a>
                          <a  href="/engineering/electronics">Electronics</a>
                          <a  href="/engineering/entc">Electronics & Telecommunication</a>
                          <a  href="/engineering/science">Science</a>
                          <hr>
                        </div>
      
                      <a class="dropdown-item" id="show_hide">polytechnic <span id="sign" style="float: right;font-size: 16px;">+</span></a>
                          <div id="sub-dropdown">
                          <a  href="/polytechnic/computer">Computer</a>
                          <a  href="/polytechnic/mechanical">Mechanical</a>
                          <a  href="/polytechnic/electrical">Electrical</a>
                          <a  href="/polytechnic/civil">Civil</a>
                          <a  href="/polytechnic/automobile">Automobile</a>
                          <a  href="/polytechnic/intc">Industrial Electronics & Telecommunication</a>
                          <a  href="/polytechnic/science">Science</a>
                          <hr>
                        </div>
                      <a class="dropdown-item" href="/pharmacy">Pharmacy</a>
                      <a class="dropdown-item" href="/management">Management</a>
                      <a class="dropdown-item" href="/seniorcollege">Senior College</a>
                      <a class="dropdown-item" href="/bed">B.Ed</a>
                      <a class="dropdown-item" href="/juniorcollege">Junior College</a>
                      <a class="dropdown-item" href="/englishcollege">English College</a>
                      <a class="dropdown-item" href="/englishmediumschool">English Medium School</a>
                 
                </li>
    
                 <!-- Facilities -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Facilities
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/hostel">Hostel</a>
                      <a class="dropdown-item" href="/library">Library</a>
                      <a class="dropdown-item" href="/facilities">Other Facilities</a>
                      
                  </li>
    
                  <!-- Admission -->
                  <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admission
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/adm-engineering">Engineering</a>
                        <a class="dropdown-item" href="/adm-polytechnic">Polytechnic</a>
                        <a class="dropdown-item" href="/adm-pharmacy">Pharmacy</a>
                        <a class="dropdown-item" href="/adm-management">Management</a>
                        <a class="dropdown-item" href="/adm-seniorcollege">Senior College</a>
                        <a class="dropdown-item" href="/adm-bed">B.Ed</a>
                        <a class="dropdown-item" href="/adm-juniorcollege">Junior College</a>
                        <a class="dropdown-item" href="/adm-englishcollege">English College</a>
                        <a class="dropdown-item" href="/adm-englishmediumschool">English Medium School</a>
                        <a class="dropdown-item" href="/adm-staff">Admission Staff</a>
                        
                    </li>
                    <!-- Student Section -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Student Section
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/results">Results</a>
                          <a class="dropdown-item" href="/latestevent">Latest Event</a>
                          <a class="dropdown-item" href="/sports">Sports</a>
                          
                      </li>
    
                      <!-- contact -->
                      <li class="nav-item my-2 my-lg-0 dropdown ">
                          <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    
              </ul>
              
            </div>
          </nav> 
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
    <script type="text/javascript">
      $('.dropdown-menu').click(function(e) {
            e.stopPropagation();
      });
    </script>
    <script src="../../js/homepage.js"></script>
  </body>
</html>
