<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
     <!-- Bootstrap CSS -->
     <link
     rel="stylesheet"
     href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
   />
   <!-- fontwesome -->
   <link
     rel="stylesheet"
     href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
   />
   <!-- googlefont -->
   <link href="https://fonts.googleapis.com/css?family=Francois+One|Lato:900" rel="stylesheet">
   <!-- custom style -->
   <link rel="stylesheet" href="/css/homepage.css" />
   <link rel="stylesheet" href="/css/chairman.css">
   <link rel="stylesheet" href="/css/global.css">
    <title>About</title>
  </head>
  <body>
    
    <div class="container-fluid">
        
            <nav class="navbar navbar-expand-lg bg-light sticky-top" id="navbar-example2">
                <a class="navbar-brand logo" href="#"><img class="img-fluid" src="/images/original (2).png" width="75" height="75" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <!-- <span class="navbar-toggler-icon"></span> -->
                  <i class="fas fa-bars"></i>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <!-- about mandar -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          About mandar
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/chairman">Chairman</a>
                          <a class="dropdown-item" href="/management">Management Commitee</a>
                          <a class="dropdown-item" href="/principal">Principal</a>
                      </li>
  
                      <!-- Institute -->
  
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Institute
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Engineering</a>
                          <a class="dropdown-item" href="#">Polytechnic</a>
                          <a class="dropdown-item" href="#">Pharmacy</a>
                          <a class="dropdown-item" href="#">Management</a>
                          <a class="dropdown-item" href="#">Senior College</a>
                          <a class="dropdown-item" href="#">B.Ed</a>
                          <a class="dropdown-item" href="#">Junior College</a>
                          <a class="dropdown-item" href="#">English College</a>
                          <a class="dropdown-item" href="#">English Medium School</a>
                     
                    </li>
  
                     <!-- Facilities -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Facilities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="#">Hostel</a>
                          <a class="dropdown-item" href="#">Library</a>
                          <a class="dropdown-item" href="#">Other Facilities</a>
                          
                      </li>
  
                      <!-- Admission -->
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admission
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Engineering</a>
                            <a class="dropdown-item" href="#">Polytechnic</a>
                            <a class="dropdown-item" href="#">Pharmacy</a>
                            <a class="dropdown-item" href="#">Management</a>
                            <a class="dropdown-item" href="#">Senior College</a>
                            <a class="dropdown-item" href="#">B.Ed</a>
                            <a class="dropdown-item" href="#">Junior College</a>
                            <a class="dropdown-item" href="#">English College</a>
                            <a class="dropdown-item" href="#">English Medium School</a>
                            <a class="dropdown-item" href="#">Admission Staff</a>
                            
                        </li>
                        <!-- Student Section -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Student Section
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="#">Results</a>
                              <a class="dropdown-item" href="#">Latest Event</a>
                              <a class="dropdown-item" href="#">Sports</a>
                              
                          </li>
                          <!-- contact -->
                        <li class="nav-item my-2 my-lg-0 dropdown ">
                            <a class="nav-link" href="#contact">Contact</a>
                          </li>
  
                        
                  </ul>
                  
                </div>
              </nav>  
              <div class="row justify-content-center" style="padding : 40px 0px;">
                  <div class="col-lg-2 col-md-2 col-sm-12 col-12" style="display: flex; justify-content:center;">
                              <img src="/images/chairman.png" alt="">
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-10 col-10" style=" width:100%; display: flex;justify-content: flex-end; align-self: flex-end;">
                              <blockquote class="blockquote">
                                      <p class="mb-0">"To Impart The Flow Of Technical Education To Konkan Is My Humble And Foremost Duty."</p>
                                      <footer class="blockquote-footer">Rajaram Shinde <cite title="Source Title">(Founder / Chairman)</cite></footer>
                                    </blockquote>
                         
                </div>
            </div>
              <div class="row d-flex justify-content-center">
                  <div class="col-lg-6 col-md-6 col-sm-10 col-10">
                        <div class="aboutintro">
                                <p class="para">
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Konkan is a most picturesque yet most backward
                                  region of coastal Maharashtra. The youth of
                                  Konkan region was deprived of technical
                                  education for years. It was Mr. Rajaram Shinde's
                                  concern and vision to enable this youth with some
                                  kind of technical education.He bravely ventured and
                                  started an institute in 1983,which is today catering
                                  to about 2500 students,giving technical education.
                                  Mandar Education Society campus includes the
                                  institutes of Management,Engineering,Polytechnic,
                                  B.Ed,Pharmacy and many more. The MES Institute
                                  always leading towards the Technology. <br> <br>
                                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; It was the need of the forthcoming 21st century that the students should get 
                                  not only the conventional education but they must also specialize in some kind of
                                  vocational or technical education which will enable them for their own progress
                                  as well as the progress of this so-called backward rural area.
                                </p>
                            </div>
                  </div>
              </div>
             

              <div class="row  justify-content-center">
                    <div class="col-lg-6 col-md-6 col-sm-10 col-10">
                          <div class="aboutintro">
                                  <p class="para">
                                       
                                  </p>
                              </div>
                    </div>
                </div>
              

              <div class="row d-flex footer" data-spy="scroll" data-target="#navbar-example2" data-offset="0" id="contact" style="background-color:#666">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="height: 100px;">
                    <h2 class="text-left">CONTACTS</h2>
                </div>
                <div  class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                  <li>
                    <h5>Mumbai Office</h5>
                    <p>B/91-93, 9th Floor,       
                        Paschim Apartments,       
                        Opp. Kirti College,       
                        Kashinath Dhuru Road,       
                        Dadar (West),       
                        Mumbai 400 028 <br>    
                        <span>Phone No: 022-24229213</span></p>
                  </li>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                    <li>
                      <h5>Local Office</h5>
                      <p>At Pedhambe,Post. Alore Tal - Chiplun,Dist - Ratnagiri 415 603<br>
                        <span>Tel/Fax-(02355) 229000</span> <br>
                        <span>(02355) 230004 (Main Office)</span> <br>             
                        <span>(02355) 230005 (Main Office)</span> 
                    </li>
                  </div>
                  <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                      <li>
                        <h5>Degree Engineering College</h5>
                        <p>
                          <span>(02355) 230007/8 </span> <br>
                           <span>Principal: 9604112477</span> <br>
                            <span>Bandekar P: 8600398766</span><br>
                            <span>Chavan A.: 9503800952</span><br>
                            <span>Gaikwad D K: 7798063950</span> <br>
                            <span>Mahajan A.H: 9763953978</span></p>
                      </li>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                        <li>
                          <h5>Polytechnic Diploma College</h5>
                          <p>
                            <span>(02355) 230003</span> <br>
                              <span>Principal Nalwade R.B: 9421027539</span></p>
                        </li>
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                          <li>
                            <h5>D Pharmacy College</h5>
                            <p>
                              <span>(02355) 230009</span> <br>
                                <span>Principal: Rangate C S-9822162701</span> <br>
                                <span>Kumbhar Sir:9822152461</span></p>
                          </li>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                            <li>
                              <h5>B Ed College</h5>
                              <p>
                                <span>(02355) 230011</span>   <br>          
                                  <span>Tapkire Sir: 9270058369</span></p>
                            </li>
                          </div>
                          <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                              <li>
                                <h5>MBA College</h5>
                                <p>
                                  <span>(02355) 230243</span>
                                 </p>
                              </li>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                <li>
                                  <h5>Sr College Arts/Com/Science</h5>
                                  <p>
                                    <span>(02355) 230414</span> <br>
                                    <span>Tapkire Sir: 9270058369</span></p>
                                </li>
                              </div>
                           
                              <div class="col-lg-12 col-md-12 col-sm-12 col-12" style="height: 100px; padding-top: 30px;">
                                  <h2 class="text-left">EMAIL</h2>
                              </div>
                                  <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                    <li><p>Society<span><br>
                                          mandareducationsociety@gmail.com</span></p>
                                    </div></li>
                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                        <li><p>MBA <br> <span>  mesmandarmba@gmail.com </span></p></li>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                            <li><p>Engineering <br> <span> rscoedegree@gmail.com </span></p></li>
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                <li><p>Polytechnic <br> <span> mandar.rsiet@gmail.com</span></p></li>
                                                </div>
                                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                    <li><p>Pharmacy <br> <span>  csrangate@gmail.com </span></p></li>
                                                    </div>
                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                        <li><p>Pharmacy <br> <span>  ssscopharmacy@gmail.com </span></p></li>
                                                        </div>
                                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                            <li><p>Senior College <br> <span> soushailajashindeseniorcollege@gmail.com</span></p></li>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                                <li><p>Junior College <br> <span> mesmcvcjuniorcollege@gmail.com</span></p></li>
                                                                </div>
                                                                <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                                    <li><p>B.Ed College <br> <span>  mesbed12@gmail.com </span></p></li>
                                                                    </div>
                                                                    <div class="col-lg-4 col-md-6 col-sm-12 col-12 phone">
                                                                        <li><p>English Medium <br> <span>  @gmail.com </span></p></li>
                                                                        </div>
                              </div>
              </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
